$background : #081234;
$foreground : #e2ffff;
$cursor : #e2ffff;
$border : #e2ffff;
$color0 : #081234;
$color1 : #6a77b1;
$color2 : #587cbc;
$color3 : #4e84c4;
$color4 : #4e88c0;
$color5 : #638ebd;
$color6 : #a3d0e9;
$color7 : #b5d2eb;
$color8 : #0a1641;
$color9 : #8494dd;
$color10 : #6e9beb;
$color11 : #61a5f5;
$color12 : #61aaf0;
$color13 : #7bb1ec;
$color14 : #cbffff;
$color15 : #e2ffff;

